.thumbnails-mod1 {
    display: inline-block;
    list-style: none;
    list-style-type: none;
}

.thumbnails-mod1 li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px 22px;
    text-align: center;
    border: 2px solid;
    border-color: rgb(204, 224, 233);
    box-sizing: border-box;
    padding: 10px;
    transition: .3s;
}

.thumbnails-mod1 h2 {
    font-size: 12px;
    text-transform: uppercase;
    margin: 5px 0;
}

.thumbnails-mod1 a {
    text-decoration: none;
    color: #1475ab;
}

.thumbnails-mod1 li:hover {
    text-decoration: none;
    border-color: #017395;
    cursor: pointer;
    transition: 0.3s;
}

.thumbnails-mod1 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

@media only screen and (max-width:765px) {
    .thumbnails-mod1 {
        text-align: center;
        width: 100%;
    }
    .thumbnails-mod1 li {
        margin: 20px auto;
        float: none;
    }
}

.thumbnails-mod2 {
    display: inline-block;
    list-style: none;
    list-style-type: none;
}

.thumbnails-mod2 li {
    float: left;
    width: 160px;
    height: 210px;
    margin: 10px 40px;
    text-align: center;
    transition: .3s;
}

.thumbnails-mod2 li:hover {
    opacity: 0.8;
}

.thumbnails-mod2 img {
    box-sizing: border-box;
    border-radius: 90px;
    border: 5px solid #5294b9;
    margin-bottom: -10px;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.thumbnails-mod2 h2 {
    font-size: 11px;
    width: 160px;
    height: 60px;
    border-radius: 50px;
}

.thumbnails-mod2 a {
    text-decoration: none;
    color: #5294b9;
}

.thumbnails-mod2 a:hover {
    text-decoration: none;
}

@media only screen and (max-width:765px) {
    .thumbnails-mod2 {
        text-align: center;
        width: 100%;
    }
    .thumbnails-mod2 li {
        margin: 20px auto;
        float: none;
    }
}

.thumbnails-mod3 {
    display: inline-block;
    list-style: none;
    list-style-type: none;
}

.thumbnails-mod3 li {
    float: left;
    width: 200px;
    height: 230px;
    margin: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.thumbnails-mod3 li:hover .info-thumb {
    background: rgba(0, 49, 107, 0.3);
}

.thumbnails-mod3 li .info-thumb {
    position: absolute;
    top: 0;
    width: 100%;
    height: 170px;
    background: rgba(0, 49, 107, 0.0);
    transition: 1s;
}

.thumbnails-mod3 li:hover .info-thumb .fa {
    color: #000;
    background: #fff;
    padding: 10px;
    border-radius: 50px;
    margin-top: 60px;
    display: inline-block;
    transform: scale(1.6);
}

.thumbnails-mod3 li .info-thumb .fa {
    color: rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
    padding: 10px;
    border-radius: 50px;
    margin-top: 60px;
    transform: scale(0.6);
    transition: all 0.5s ease-in-out;
}

.thumbnails-mod3 img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.thumbnails-mod3 h2 {
    font-size: 11px;
    border: 0;
    height: 20px;
    padding: 5px 0px;
    margin-top: 0px;
}

.thumbnails-mod3 a {
    text-decoration: none;
    color: #000;
}

.thumbnails-mod3 a:hover {
    text-decoration: none;
}

@media only screen and (max-width:765px) {
    .thumbnails-mod3 {
        text-align: center;
        width: 100%;
    }
    .thumbnails-mod3 li {
        margin: 20px auto;
        float: none;
    }
}

.thumbnails-mod4 {
    display: inline-block;
    list-style: none;
    list-style-type: none;
}

.thumbnails-mod4 li {
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #ccc;
    float: left;
    width: 300px;
    height: 240px;
    margin: 10px 12px;
    text-align: center;
    text-transform: uppercase;
    transition: .3s;
    position: relative;
}

.thumbnails-mod4 li:hover {
    opacity: 0.9;
}

.thumbnails-mod4 img {
    border-radius: 5px 5px 0px 0;
    width: 300px;
    object-fit: cover;
    height: 200px;
    transition: .3s;
}

.thumbnails-mod4 h2 {
    font-size: 11px;
    margin-top: 0;
    background: #222;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    width: 300px;
    border-radius: 0px 0px 5px 5px;
}

.thumbnails-mod4 a {
    text-decoration: none;
    color: #ffffff;
}

.thumbnails-mod4 a:hover {
    text-decoration: none;
}

@media only screen and (max-width:765px) {
    .thumbnails-mod4 {
        text-align: center;
        width: 100%;
    }
    .thumbnails-mod4 li {
        margin: 20px auto;
        float: none;
    }
}

.thumbnails-mod5 {
    display: inline-block;
    list-style: none;
    list-style-type: none;
}

.thumbnails-mod5 li {
    float: left;
    border: 2px solid #2f3033;
    width: 180px;
    height: 180px;
    margin: 10px 28px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px #2f3033;
    transition: 0.3s;
}

.thumbnails-mod5 li:hover {
    opacity: 0.9;
}

.thumbnails-mod5 li:hover img {
    opacity: 0.9;
}

.thumbnails-mod5 li:hover h2 a {
    opacity: 0.9;
    color: #ff7519;
}

.thumbnails-mod5 img {
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.thumbnails-mod5 h2 {
    font-size: 10px;
    background: rgba(47, 48, 51, 0.7);
    height: 25px;
    padding: 5px 0px;
    margin-top: 0px;
    position: relative;
    top: -35px;
}

.thumbnails-mod5 a {
    text-decoration: none;
    color: white;
}

.thumbnails-mod5 a:hover {
    text-decoration: none;
}

@media only screen and (max-width:765px) {
    .thumbnails-mod5 {
        text-align: center;
        width: 100%;
    }
    .thumbnails-mod5 li {
        margin: 20px auto;
        float: none;
    }
}

.thumbnails-mod6 {
    display: inline-block;
    list-style: none;
    list-style-type: none;
}

.thumbnails-mod6 li {
    float: left;
    border: 2px solid #C7C7C9;
    width: 180px;
    height: 230px;
    margin: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: .2s;
}

.thumbnails-mod6 li:hover {
    border: 2px solid #9f9fa0;
    box-shadow: 2px 2px 2px #9f9fa0;
}

.thumbnails-mod6 li:hover img {
    opacity: 0.9;
}

.thumbnails-mod6 img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    transition: .2s;
}

.thumbnails-mod6 li:hover h2 {
    opacity: 0.9;
}

.thumbnails-mod6 h2 {
    font-size: 10px;
    height: 32px;
    padding: 8px 0px;
    margin-top: 0;
    border-top: 2px solid #ccc;
}

.thumbnails-mod6 a {
    text-decoration: none;
    color: #666;
}

.thumbnails-mod6 a:hover {
    text-decoration: none;
}

@media only screen and (max-width:765px) {
    .thumbnails-mod6 {
        text-align: center;
        width: 100%;
    }
    .thumbnails-mod6 li {
        margin: 20px auto;
        float: none;
    }
}

.thumbnails-mod7 {
    display: inline-block;
    list-style: none;
    list-style-type: none;
}

.thumbnails-mod7 li {
    float: left;
    border-radius: 10px;
    width: 180px;
    height: 180px;
    margin: 10px 32px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
}

.thumbnails-mod7 li:hover h2 {
    background: rgba(157, 39, 37, 1);
}

.thumbnails-mod7 img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}

.thumbnails-mod7 h2 {
    font-size: 10px;
    background: rgba(157, 39, 37, 0.6);
    height: 35px;
    padding: 5px 0px;
    margin-top: 0px;
    position: relative;
    top: -45px;
    display: table-cell;
    vertical-align: middle;
    width: 180px;
    border-radius: 0 0px 6px 6px;
    transition: 0.3s;
}

.thumbnails-mod7 a {
    text-decoration: none;
    color: white;
}

.thumbnails-mod7 a:hover {
    text-decoration: none;
}

@media only screen and (max-width:765px) {
    .thumbnails-mod7 {
        text-align: center;
        width: 100%;
    }
    .thumbnails-mod7 li {
        margin: 20px auto;
        float: none;
    }
}

.thumbnails-mod8 {
    display: inline-block;
    list-style: none;
    list-style-type: none;
}

.thumbnails-mod8 li:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.thumbnails-mod8 li {
    background: #fff;
    float: left;
    width: 210px;
    height: 210px;
    border: solid 1px #DDD;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    border-bottom: solid 9px #0776ad;
    transition-property: all;
    transition-duration: 0.3s;
}

.thumbnails-mod8 img {
    width: 100%;
    height: 150px;
}

.thumbnails-mod8 h2 {
    font-size: 14px;
    margin: 5px 0;
}

.thumbnails-mod8 a {
    text-decoration: none;
    color: #1475ab;
}

.thumbnails-mod8 a:hover {
    text-decoration: none;
}

@media only screen and (max-width:765px) {
    .thumbnails-mod8 {
        text-align: center;
        width: 100%;
    }
    .thumbnails-mod8 li {
        margin: 20px auto;
        float: none;
    }
}

.thumbnails-mod9 {
    display: inline-block;
    list-style: none;
    list-style-type: none;
}

.thumbnails-mod9 li {
    float: left;
    width: 300px;
    height: 245px;
    margin: 10px 13px;
    text-align: center;
    text-transform: uppercase;
    transition: .3s;
}

.thumbnails-mod9 li:hover img {
    opacity: 0.9;
}

.thumbnails-mod9 img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    box-sizing: border-box;
    border: 2px solid #ffcd00;
    transition: .3s;
}

.thumbnails-mod9 h2 {
    font-size: 12px;
    height: 35px;
    padding: 5px 0px;
    margin-top: 0px;
}

.thumbnails-mod9 li:hover a {
    color: #ffcd00;
}

.thumbnails-mod9 a {
    text-decoration: none;
    color: #333;
    transition: .3s;
}

.thumbnails-mod9 a:hover {
    text-decoration: none;
}

@media only screen and (max-width:765px) {
    .thumbnails-mod9 {
        text-align: center;
        width: 100%;
    }
    .thumbnails-mod9 li {
        margin: 20px auto;
        float: none;
    }
}

.thumbnails-mod10 {
    display: inline-block;
    list-style: none;
    list-style-type: none;
}

.thumbnails-mod10 li {
    float: left;
    border: 1px solid #ccc;
    width: 230px;
    height: 190px;
    margin: 10px 5px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px #ccc;
    transition: .3s;
}

.thumbnails-mod10 li:hover {
    opacity: 0.9;
}

.thumbnails-mod10 img {
    width: 230px;
    height: 150px;
    object-fit: cover;
}

.thumbnails-mod10 h2 {
    font-size: 10px;
    box-sizing: border-box;
    padding: 0 5px;
    margin-top: 5px;
}

.thumbnails-mod10 a {
    text-decoration: none;
    color: #555;
}

.thumbnails-mod10 a:hover {
    text-decoration: none;
}

@media only screen and (max-width:765px) {
    .thumbnails-mod10 {
        text-align: center;
        width: 100%;
    }
    .thumbnails-mod10 li {
        margin: 20px auto;
        float: none;
    }
}

.thumbnails-mod11 {
    display: inline-block;
    list-style: none;
    list-style-type: none;
}

.thumbnails-mod11 li {
    float: left;
    width: 250px;
    height: 210px;
    margin: 10px 38px;
    text-align: center;
    text-transform: uppercase;
    transition: .3s;
}

.thumbnails-mod11 li:hover img {
    opacity: 0.9;
}

.thumbnails-mod11 img {
    width: 250px;
    box-sizing: border-box;
    height: 170px;
    border: 2px solid #eee;
    object-fit: cover;
    transition: .3s;
}

.thumbnails-mod11 h2 {
    font-size: 12px;
    background: #eee;
    height: 30px;
    padding: 5px 0px;
    margin-top: 0px;
    border-radius: 0;
    width: 100%;
    border: 0;
    box-shadow: 10px 10px 10px #bbb;
    transition: .3s;
}

.thumbnails-mod11 li:hover a {
    text-decoration: none;
    color: #ad2222;
    opacity: 1;
}

.thumbnails-mod11 a {
    text-decoration: none;
    color: #333;
    transition: .3s;
}

.thumbnails-mod11 a:hover {
    text-decoration: none;
}

@media only screen and (max-width:765px) {
    .thumbnails-mod11 {
        text-align: center;
        width: 100%;
    }
    .thumbnails-mod11 li {
        margin: 20px auto;
        float: none;
    }
}

.thumbnails-mod12 {
    display: inline-block;
    list-style: none;
    list-style-type: none;
}

.thumbnails-mod12 li {
    float: left;
    width: 200px;
    height: 230px;
    margin: 10px 16px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.thumbnails-mod12 li:hover .thumb-descricao {
    background: rgba(0, 0, 0, 0);
}

.thumbnails-mod12 li:hover .thumb-descricao p {
    display: none;
}

.thumbnails-mod12 li:hover .thumb-descricao h2 {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #FAB005;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px;
    font-size: 12px;
}

.thumbnails-mod12 .thumb-descricao {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
}

.thumbnails-mod12 .thumb-descricao p {
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 15px;
    right: 0;
    left: 0;
    margin: 0 auto;
    font-size: 11px;
    text-align: center;
}

.thumbnails-mod12 .thumb-descricao h2 {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #FAB005;
    transition: .6s;
}

.thumbnails-mod12 img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.thumbnails-mod12 a {
    text-decoration: none;
    color: white;
}

.thumbnails-mod12 a:hover {
    text-decoration: none;
}

@media only screen and (max-width:765px) {
    .thumbnails-mod12 {
        text-align: center;
        width: 100%;
    }
    .thumbnails-mod12 li {
        margin: 20px auto;
        float: none;
    }
}

.thumbnails-mod13 {
    display: inline-block;
    list-style: none;
    list-style-type: none;
}

.thumbnails-mod13 li {
    box-sizing: border-box;
    float: left;
    border: 1px solid #ddd;
    width: 200px;
    height: 260px;
    margin: 10px 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    box-shadow: 0 0 15px #fff;
    transition: .3s;
}

.thumbnails-mod13 li:hover {
    box-shadow: 0 0 15px #ccc;
}

.thumbnails-mod13 li:hover img {
    border: 1px solid #ddd;
}

.thumbnails-mod13 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: .3s;
    border: 1px solid #fff;
}

.thumbnails-mod13 h2 {
    font-size: 10px;
    height: 20px;
    padding: 5px 0px;
    margin-top: 0px;
}

.thumbnails-mod13 a {
    text-decoration: none;
    color: #222;
}

.thumbnails-mod13 a:hover {
    text-decoration: none;
}

@media only screen and (max-width:765px) {
    .thumbnails-mod13 {
        text-align: center;
        width: 100%;
    }
    .thumbnails-mod13 li {
        margin: 20px auto;
        float: none;
    }
}

.thumbnails-mod14 {
    display: inline-block;
    list-style: none;
    list-style-type: none;
}

.thumbnails-mod14 li {
    float: left;
    width: 200px;
    height: 230px;
    margin: 10px 16px;
    text-align: center;
    text-transform: uppercase;
    transition: .3s;
}

.thumbnails-mod14 li:hover img {
    opacity: 0.9;
}

.thumbnails-mod14 li:hover h2 {
    opacity: 0.9;
}

.thumbnails-mod14 img {
    width: 100%;
    object-fit: cover;
    height: 200px;
    transition: .3s;
}

.thumbnails-mod14 h2 {
    font-size: 10px;
    background: #232323;
    border-top: 3px solid #f3211a;
    height: 25px;
    padding: 5px 0px;
    margin-top: 0px;
    transition: .3s;
}

.thumbnails-mod14 a {
    text-decoration: none;
    color: white;
}

.thumbnails-mod14 a:hover {
    text-decoration: none;
}

@media only screen and (max-width:765px) {
    .thumbnails-mod14 {
        text-align: center;
        width: 100%;
    }
    .thumbnails-mod14 li {
        margin: 20px auto;
        float: none;
    }
}

.thumbnails-mod15 {
    display: inline-block;
    list-style: none;
    list-style-type: none;
}

.thumbnails-mod15 li {
    float: left;
    width: 200px;
    height: 250px;
    margin: 10px 16px;
    text-align: center;
    text-transform: uppercase;
    transition: .3s;
}

.thumbnails-mod15 li:hover img {
    opacity: 0.9;
    transform: scale(1.05);
}

.thumbnails-mod15 li:hover h2 {
    opacity: 0.9;
}

.thumbnails-mod15 img {
    width: 100%;
    height: 200px;
    border-radius: 130px;
    transition: .3s;
    object-fit: cover;
}

.thumbnails-mod15 h2 {
    font-size: 10px;
    height: 20px;
    padding: 10px 0px;
    margin-top: 0px;
    border: 0;
}

.thumbnails-mod15 a {
    text-decoration: none;
    color: #10588d;
}

.thumbnails-mod15 a:hover {
    text-decoration: none;
}

@media only screen and (max-width:765px) {
    .thumbnails-mod15 {
        text-align: center;
        width: 100%;
    }
    .thumbnails-mod15 li {
        margin: 20px auto;
        float: none;
    }
}

.thumbnails-mod16 {
    display: inline-block;
    list-style: none;
    list-style-type: none;
    background: none;
}

.thumbnails-mod16 li {
    float: left;
    width: 220px;
    height: 180px;
    margin: 20px 6px;
    text-align: center;
    background: none;
    padding: 5px;
}

.thumbnails-mod16 li:hover img {
    transform: scale(1.05);
}

.thumbnails-mod16 img {
    padding: 5px;
    width: 100%;
    height: 140px;
    object-fit: contain;
    box-sizing: border-box;
    border: 2px solid #efb62c;
    transition: .3s;
}

.thumbnails-mod16 h2 {
    font-size: 14px;
    margin: 0px 0;
    text-align: center;
    padding: 5px;
    height: 50px;
}

.thumbnails-mod16 a {
    text-decoration: none;
    color: #1475ab;
}

@media only screen and (max-width:765px) {
    .thumbnails-mod16 {
        text-align: center;
        width: 100%;
    }
    .thumbnails-mod16 li {
        margin: 20px auto;
        float: none;
    }
}

.thumbnails-mod17 p strong {
    font-weight: bolder;
    font-size: 16px!important;
}

.thumbnails-mod17 {
    list-style: none;
    width: 100%;
    position: relative;
    margin: 30px auto;
    padding: 0;
    width: 900px;
}

.thumbnails-mod17 li {
    float: left;
    width: 250px;
    height: 180px;
    margin: 5px;
    background: #fff;
    padding: 7px;
    border: 1px solid #ddd;
    position: relative;
}

.thumbnails-mod17 li a,
.thumbnails-mod17 li a img {
    display: block;
    position: relative;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.thumbnails-mod17 li a {
    overflow: hidden;
}

.thumbnails-mod17 li a div {
    position: absolute;
    background: rgba(9, 157, 202, 0.7);
    width: 100%;
    height: 100%;
}

.thumbnails-mod17 li a div h2 {
    word-wrap: break-word;
    text-align: center;
    font-size: 16px;
    display: block;
    margin: 40px 20px 20px 20px;
    font-weight: normal;
    color: rgba(255, 255, 255, .8);
}

@media only screen and (max-width:765px) {
    .thumbnails-mod17 {
        text-align: center;
        width: 100%;
    }
    .thumbnails-mod17 li {
        margin: 20px auto;
        float: none;
    }
}

.thumbnails-modfix p strong {
    font-weight: bolder;
    font-size: 16px!important;
}

.thumbnails-modfix {
    list-style: none;
    width: 100%;
    position: relative;
    margin: 30px auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.thumbnails-modfix li {
    float: left;
    width: 205px;
    height: 200px;
    margin: 5px;
    background: #fff;
    padding: 7px;
    border: 1px solid #ddd;
    position: relative;
}

.thumbnails-modfix li a,
.thumbnails-modfix li a img {
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.thumbnails-modfix li a {
    overflow: hidden;
}

.thumbnails-modfix li a div {
    position: absolute;
    background: rgba(9, 157, 202, 0.7);
    width: 100%;
    height: 100%;
}

.thumbnails-modfix li a div h2 {
    word-wrap: break-word;
    text-align: center;
    font-size: 16px;
    display: block;
    margin: 40px 20px 20px 20px;
    font-weight: normal;
    color: rgba(255, 255, 255, .8);
}

@media only screen and (max-width:765px) {
    .thumbnails-modfix {
        text-align: center;
        width: 100%;
    }
    .thumbnails-modfix li {
        margin: 20px auto;
        float: none;
    }
}

.thumbnails-mod18 {
    list-style: none;
    width: 100%;
    position: relative;
    margin: 30px auto;
    padding: 0;
}

.thumbnails-mod18 categoria {
    float: left;
    width: 200px;
    height: 250px;
    padding: 10px;
    margin: 5px 4px 30px;
    border: 1px solid #DEDEDE;
    background: #FFF;
    position: relative;
}

.thumbnails-mod18 li a,
.thumbnails-mod18 li a img {
    display: block;
    position: relative;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.thumbnails-mod18 li a {
    overflow: hidden;
}

.thumbnails-mod18 li a div {
    position: absolute;
    background: rgba(9, 157, 202, 0.7);
    width: 100%;
    height: 100%;
}

.thumbnails-mod18 li a div h2 {
    word-wrap: break-word;
    text-align: center;
    font-size: 24px;
    display: block;
    margin: 40px 20px 20px 20px;
    font-weight: normal;
    color: rgba(255, 255, 255, .8);
}

@media only screen and (max-width:765px) {
    .thumbnails-mod18 {
        text-align: center;
        width: 100%;
    }
    .thumbnails-mod18 li {
        margin: 20px auto;
        float: none;
    }
}